header {
  background-color: white;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #cccccc;
}

.logo {
  margin: 0;
  padding: 0;
  width: 142px;
  height: 100%;
  float: left;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: url("../images/logo.png") no-repeat;
background-size: contain;
}
